{{ define "page"}}

<h3>Index</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed dolorem provident, optio magni, similique enim veritatis blanditiis libero, explicabo accusamus at quae recusandae adipisci expedita culpa. Facilis similique debitis quasi!</p>

{{ template "cool" . }}
{{ template "cool" . }}
{{ template "cool" . }}

{{ end }}